In [1]:
import pandas as pd

In [44]:

# Replace 'your_file.csv.gz' with the actual filename
file_path = 'taxi+_zone_lookup.csv'

# Use pandas to read the compressed CSV file
df = pd.read_csv(file_path)

# Now 'df' is a pandas DataFrame containing the data from the CSV file
print(df)

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [32]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [45]:
print(pd.io.sql.get_schema(df, name ='zone'))

CREATE TABLE "zone" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [13]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\eugene\appdata\local\programs\python\python311\lib\site-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\eugene\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
from sqlalchemy import create_engine

In [35]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [46]:
print(pd.io.sql.get_schema(df, name ='zone',con = engine))

CREATE TABLE zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [37]:
df_iter = pd.read_csv(file_path, compression='gzip', iterator = True, chunksize = 100000)

In [38]:
df = next(df_iter)

In [19]:
len(df)

100000

In [20]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [47]:
df.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [48]:
df.head(n=0).to_sql(name='zone',con=engine, if_exists='replace')

0

In [49]:
%time df.to_sql(name='zone',con=engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 75.6 ms

265

In [50]:
while True:
    df = next(df_iter)
#     df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
#     df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='zone',con=engine, if_exists='append')
    print('chunk in')

StopIteration:

In [26]:
wget "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"

SyntaxError: invalid syntax (3235564498.py, line 1)